@mixin font-base($weight: 400) {
    font-family: 'PT Sans', sans-serif;
    font-weight: $weight;
}

@mixin font-heading($weight: 400) {
    font-family: 'PT Sans', sans-serif;
    font-weight: $weight;
}

@mixin h1-sans {
    font-size: 30px;
    line-height: 35px;
    @include font-heading;
    @include medium {
        font-size: 54px;
        line-height: 54px;
    }
}

@mixin h2-sans {
    font-size: 27px;
    line-height: 31px;
    @include font-heading;
    @include medium {
        font-size: 36px;
        line-height: 40px;
    }
}

@mixin h3-sans {
    font-size: 20px;
    line-height: 22px;
    @include font-heading;
    @include medium {
        font-size: 27px;
        line-height: 33px;
    }
}

@mixin h4-sans {
    font-size: 18px;
    line-height: 19px;
    @include font-heading;
    @include medium {
        font-size: 23px;
        line-height: 25px;
    }
}

@mixin h5-sans {
    font-size: $base-font-size;
    line-height: 17px;
    @include font-heading;
    @include medium {
        font-size: 18px;
        line-height: 20px;
    }
}

@mixin small-caps($font: 12px) {
    @include font-base(600);
    color: $color-dark;
    text-transform: uppercase;
    font-size: $font;
    letter-spacing: 1.8px;
}

@mixin open-sans {
    @include font-base(400);
    line-height: 1.6;
}

h1 {
    @include h1-sans;
}

h2 {
    @include h2-sans;
}

h3 {
    @include h3-sans;
}

h4 {
    @include h4-sans;
}

h5 {
    @include h5-sans;
}
