.packageGrid {
  display: flex !important;
  flex-wrap: wrap;
  justify-content: space-around;
}

.packageGrid .card {
  box-sizing: border-box;
  width: 40% !important;
  background: white;
  border-radius: 10px;
  box-shadow: 2px 2px 4px;
  padding: 10px;
  font-family: 'effra', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !important;
  margin: 5% !important;
  transition: all ease 0.3s;
}

.card:hover {
  cursor: pointer;
  width: 40.5% !important;
  margin: 4.75% !important;
}

/* .packageGrid .card:hover {
  margin-left: 17px;
  margin-right: 13px;
  margin-top: -2px;
  margin-bottom: 22px;
  transition: all ease 0.3s;
} */

.header {
  color: #363b3e;
  font-size: 31.5px !important;
  font-weight: 300 !important;
  line-height: 24px;
  margin-bottom: 23px;
}

.list {
  margin: 10px 0 !important;
}
.header.large {
  color: #666c70;
  font-weight: 300;
  font-size: 34px;
}

.card .teal.button {
  position: absolute;
  left: 5%;
  bottom: 25px;
}
.price {
  font-weight: 300;
  font-size: 18px;
  padding-bottom: 10px;
}

.content {
  margin: 0 auto;
}
